#main {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.096),
        var(--black)
    ), url("../../assets/img/building.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main_content h1 {
    margin: 0;
    padding: 100% 0;
    text-align: center;
    color: var(--white);
}


/* tablet */
@media screen and (min-width: 768px) {
    .main_content h1 {
        padding: 50% 0;
        font-size: var(--tabletH1Size);
    }
}

/* desktop */
@media screen and (min-width: 1100px) {
    .main_content h1 {
        padding-top: 35%;
        font-size: var(--desktopH1Size);
    }

}

/* desktop */
@media screen and (min-width: 1500px) {
    #main {
        height: 180vh;
    }
}