.about {
    background-color: var(--black);
}
.about_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: var(--white);
    padding: 0 20px;
}

.about_content p {
    text-align: center;
    padding: 0 20px;
}
.about_content .btn {
    margin: 20px 0 0 0;
    padding: 0.8rem 5rem;
    background-color: var(--white);
}

.about_content a {
    text-decoration: none;
    color: var(--black);
}

@media screen and (min-width: 1100px) {
    .about_content {
        height: 70vh;
    }
    .about_content p {
        font-size: var(--desktopPSize);
    }
    .about_content .btn {
        font-size: var(--desktopPSize);
        padding: 0.8rem 3rem;
    }
}