#timeline {
    background: var(--white);
    color: var(--black);
    overflow: auto;
}

.timeline_content {
    padding: 1rem 0;
    margin: 10px 0;
}

.timeline_list {
    display: flex;
}

.timeline_item {
    margin: 0;
}

.timeline_item_content {
    margin: 0 40px;
    padding: 0;
    background-color: var(--black);
    border-radius: 5%;
    box-shadow: 12px 12px 6px 5px rgba(0, 0, 0, 0.2);
    height: 450px;
    width: 300px;
    position: relative;
    margin: 3em;
    padding: 1em;
    background: var(--black);
}

.timeline_item_content::before {
    content: "";
    position: absolute;
    bottom: -2em;
    left: 42%;
    border: 1em solid black;
    border-color: transparent transparent var(--black) var(--black);
    box-shadow: 12px 12px 6px 5px rgba(0, 0, 0, 0.1);
    transform-origin: 0 0;
    transform: rotate(-45deg);
}

.timeline_item_content .timeline_item_content_description p {
    height: 100%;
    margin: 5px 0;
    color: var(--white);
    text-align: left;
}

.timeline_item_content .timeline_item_content_title h2, h3 {
    height: auto;
    color: var(--white);
    margin: 0 0 20px 0;
    text-align: center;
}

.time {
    display: flex;
    align-items: center;

}

.timeline_line {
    height: 1px;
    width: 50%;
    background-color: var(--black);
}

.timeline_list .calendar {
    display: block;
    text-align: center;
}

.timeline_list .calendar p {
    margin: 0;
    max-width: 130px;
    font-size: 1.5rem;
}