@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@200&display=swap');
body {
    --grey: rgb(155, 155, 155);
    --black: rgb(32, 32, 32);
    --white: rgb(235, 235, 235);
    --yellow: rgb(255, 255, 0);

    --pFont: 'Cinzel', serif;
    --hFont: 'Montserrat', sans-serif;
    
    /* desktop */
    --desktopPSize: 1.5rem;
    --desktopH1Size: 5rem;
    --desktopH2Size: 2.5rem;
    --desktopH3Size: 2rem;

    /* tablet */
    --tabletPSize: 1.2rem;
    --tabletH1Size: 2.5rem;
    --tabletH2Size: 2rem;
    --tabletH3Size: 1.5rem;
  
    /* mobile */
    --mobilePSize: 0.9rem;
    --mobileH1Size: 2.5rem;
    --mobileH2Size: 2rem;
    --mobileH3Size: 1.5rem;
}

.App .translateBtn, .App .translateBtn img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    top: 1%;
    right: 88%;
}

.App .translateBtn img {
    border-style: solid;
    border-width: 1px;
}

.App .translateBtn p {
    position: fixed;
    top: 1%;
    right: 70%;
    font-size: var(--mobilePSize);
    font-family: var(--pFont);
    font-weight: bold;
    text-decoration: underline;
    color: var(--black);
}

.App .translateBtn:hover {
    cursor: pointer;
}

h1 {
    font-family: var(--hFont);
    font-size: var(--mobileH1Size);
}

h2 {
    font-family: var(--hFont);
    font-size: var(--mobileH2Size);
}

h3 {
    font-family: var(--hFont);
    font-size: var(--mobileH3Size);
}

p {
    font-family: var(--pFont);
    font-size: var(--mobilePSize);
}

a {
    font-family: var(--pFont);
    font-size: var(--mobilePSize);
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .App .translateBtn p {
        right: 79%;
    }       
}