body {
  --grey: rgb(155, 155, 155);
  --black: rgb(32, 32, 32);
  --white: rgb(235, 235, 235);

  /* background-image: url("H:\PRO\ARGENTIQUE\AGFA OPTIMA 535\Ilford 50 noir et blanc 36 poses/000044230033.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}
